ul
 li 
  a(href="/Impressum") Impressum 
 li 
  a(href="/About") About
 li.copyright
  | &copy; 2022

script(src='https://unpkg.com/vue@2/dist/vue.js')
script(src='https://unpkg.com/element-ui/lib/index.js')