.Card {
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-rows: 45px 80px;
    gap: 0px 0px;
    grid-template-areas: 
     "card_image cardtoptitle"
     "card_image cardsummary"; 
}

.cardtoptitle {
    font-size: 18px;
    grid-area: cardtoptitle;
}

.cardsummary {
    grid-area: cardsummary;
 }
 
 